

body {
    font-family: 'Sour Gummy', sans-serif;
    background: -webkit-linear-gradient(90deg, #000000,#030032);
    background: linear-gradient(90deg, #000000,#030032);
    font-weight: 800;
    color:white;
    font-size: 30px;
    text-align: center;
}


.imgPerfil img{
    width: 40px;
    align-items: center;
    border-radius: 100%;
    display: grid;
    margin: 0 auto;
}

.presentacion {
    margin: 0 40px;
    text-align: center;
}
